
<h1>記事一覧</h1>

<div><%= will_paginate(@articles) %></div>

<ul class="articles">
 <%- @articles.each { |article| -%>
  <li class="article">
   <%= article_link(article) %>
  </li>
 <%- } -%>
</ul>

<div><%= will_paginate(@articles) %></div>
