
*
{
  margin: 0;
  padding: 0;
}

body
{
  overflow: hidden;
}

#container
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

#controller
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 50px;
  overflow: hidden;
  background-color: #3B5998;
}

#browser
{
  position: absolute;
  top: 50px;
  left: 0px;
  width: 800px;
  height: 550px;
}

#next-article
{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
#next-article:hover
{
  color: red;
}

#prev-article
{
  position: absolute;
  top: 5px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
#prev-article:hover
{
  color: red;
}

#url
{
  color: #FFFFFF;
  font-size: 12px;
}

#title
{
  color: #FFFFFF;
  font-size: 12px;
}

#tag-box
{
  position: absolute;
  top: 5px;
  right: 100px;
  width: 400px;
  height: 40px;
}

#division-tags
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 14px;
}

#category-tags
{
  position: absolute;
  top: 0px;
  left: 70px;
  width: 300px;
  height: 14px;
}

#area-tags
{
  position: absolute;
  top: 20px;
  left: 0px;
  width: 400px;
  height: 14px;
}

div.tags
{
  padding: 2px 0px;
  font-size: 10px;
  line-height: 12px;
}
div.tags span
{
  padding: 1px 2px;
  border: solid 1px black;
  color: white;
  cursor: pointer;
}
div.tags span.user
{
  border-color: white;
}
div.tags span.combined
{
  background-color: gray;
}
