
<h1>記事の追加</h1>

<form action="#" id="add-form">
  <input type="text" name="url1" id="url1" value="" size="100" />
  <button type="submit">登録</button>
</form>

<script type="text/javascript">
  $(function() {
    $("#add-form").submit(function() {
      console.debug("submit");

      var url1 = $("#url1").val();

      $.ajax({
        url: "/api/add_article",
        data: {
          url1: url1//,
        },
        cache: true,
        dataType: "jsonp",
        success: function (data) {
          console.debug("success");
          console.debug(data);

          var result = data["result"];         
          var item = $("<div/>");

          $("<div/>")
            .text(result["1"]["title"])
            .appendTo(item);
          $("<div/>")
            .text(result["1"]["url"])
            .appendTo(item);

          item.appendTo("#result");
        },
        error: function (data) {
          console.debug(data);
          if ( data.status == 500 ) alert("サーバでエラーが発生しました。");
          else if ( data.status == 401 ) alert("ログインしてください。");
        }//,
      });

      return false;
    });
  });
</script>

<div id="result">
</div>