
<h1>鉄ニュース</h1>

<ul>
 <%- @articles.each { |article| -%>
  <li>
   <%= link_to(h(article.title), article.url,
         :id    => "article_#{article.id}",
         :title => article.created_at.strftime("%Y年%m月%d日%H時%M分: ") + article.title) %>
  </li>
 <%- } -%>
</ul>
