
<h1>鉄ニュース</h1>

<div>
 <%- form_tag(:action => "add") { -%>
  <%= text_field(:form, :url, :size => 50) %>
  <%= submit_tag("追加") %>
 <%- } -%>
</div>

<ul class="articles" style="width: 300px;">
 <%- @articles.each { |article| -%>
  <li class="article">
   <%= link_to(h(article.title), article.url,
         :id    => "article-#{article.id}",
         :title => article.created_at.strftime("%Y年%m月%d日%H時%M分: ") + article.title) %>
  </li>
 <%- } -%>
</ul>

<script type="text/javascript">

$(document).ready(function() {

  // a要素にfaviconを追加
  $("ul.articles li a").each(function() {
    var favicon = "http://favicon.hatena.ne.jp/?url=" + encodeURIComponent(this.href);
    $(this).css("background-image", "url(" + favicon + ")");
  });

  var getArticleIdFromAnchorElement = function(anchor) {
    return (/^article-(\d+)$/.exec(anchor.id)||[])[1];
  };

  $("ul.articles li a").each(function() {
      var articleId = getArticleIdFromAnchorElement(this);
      if ( articleId != null )
      {
        var path = "/view/" + articleId;
        this.href = path;
      }
  });

  var articles = $("ul.articles li");
  $(articles[0]).addClass("cursor");

  var getCurrentArticleItemElement = function() {
    return $("ul.articles li.cursor")[0];
  };
  var getArticleIndex = function(itemElement) {
    var index = articles.get().indexOf(itemElement);
    return (index >= 0 ? index : null);
  };
  var getNextArticleItemElement = function(currentElement) {
    var index = getArticleIndex(currentElement);
    if ( index == null ) return null;
    if ( index >= articles.length - 1 ) return null;
    return articles[index + 1];
  };
  var getPrevArticleItemElement = function(currentElement) {
    var index = getArticleIndex(currentElement);
    if ( index == null ) return null;
    if ( index <= 0 ) return null;
    return articles[index - 1];
  };

  var moveToNextArticle = function() {
    var current = getCurrentArticleItemElement();
    var next    = getNextArticleItemElement(current);
    if ( next != null )
    {
      $(current).removeClass("cursor");
      $(next).addClass("cursor");
    }
  };
  var moveToPrevArticle = function() {
    var current = getCurrentArticleItemElement();
    var prev    = getPrevArticleItemElement(current);
    if ( prev != null )
    {
      $(current).removeClass("cursor");
      $(prev).addClass("cursor");
    }
  };
  var togglePinOfArticle = function() {
    var current = getCurrentArticleItemElement();
    $(current).toggleClass("pinned");
  };
  var openPinnedArticles = function() {
    var articleIds = [];
    $("ul.articles li.pinned a").each(function() {
      console.debug(this.href);
      var articleId = getArticleIdFromAnchorElement(this);
      articleIds.push(articleId);
    });
    if ( articleIds.length > 0 )
    {
      var path = "/view/" + articleIds.join(",");
      var win = window.open(path);
    }
  };

  $(document).bind("keydown", "j", moveToNextArticle);
  $(document).bind("keydown", "k", moveToPrevArticle);
  $(document).bind("keydown", "p", togglePinOfArticle);
  $(document).bind("keydown", "o", openPinnedArticles);
});

</script>
