
<h1>地域タグ付けされていない記事</h1>

<div><%= will_paginate(@articles) %></div>

<ul class="articles" style="width: 600px;">
 <%- @articles.each { |article| -%>
  <li class="article">
   <%= article_link(article) %>
  </li>
 <%- } -%>
</ul>

<div><%= will_paginate(@articles) %></div>

<%= javascript_include_tag("articles") %>
