
<h1>カテゴリ別: <%=h @category %></h1>

<ul class="articles" style="width: 600px;">
 <%- @articles.each { |article| -%>
  <li class="article">
   <%= article_link(article) %>
  </li>
 <%- } -%>
</ul>

<%= javascript_include_tag("articles") %>
